[2020-01-14 11:36] lotherk opened #1 "[QUESTION] Clone from template"
Thank you for this awesome provider! As far as I can tell it seems to be the best out there yet.

I want to ask if and how it is possible to create a vm out of a template?

I expected proxmox_virtual_environment_vm to have an option to specify a template but there isn't one. I also read the source (my go knowledge is very limited) but can't find anything there either.

Is it possible and if not, i

[2020-01-14 17:54] danitso-dp commented on #1
This feature is currently not available but will be added to v0.3.0 later this week (current master branch), which will be released next week.

In case you are missing other features, don't hesitate to open more feature requests.

[2020-01-14 18:18] danitso-dp commented on #1
I forgot to mention that in case you have a simple VM with a single disk, you can export that disk in qcow2 format and let the provider use that to build a new VM for you. You can also use a standard cloud image like the one for Ubuntu and set up your server using cloud-init. This is showcased in the example folder.

[2020-01-21 18:41] lotherk commented on #1
Hi, thank you for your response!

It doesn't seem to work for me though.

rancher.tf

[2020-01-21 19:28] danitso-dp commented on #1
It's most likely due to cloning being an asynchronous operation from one node to another, which the provider is not waiting for right now. This should be fairly simple to fix so I'll take a look at it shortly.

[2020-01-21 19:49] danitso-dp commented on #1
I've pushed a new commit which should resolve the issue.

[2020-01-22 09:53] lotherk commented on #1
Terraform now crashes, see: [crash.log](https://github.com/danitso/terraform-provider-proxmox/files/4096328/crash.log), [rancher.tf.txt](https://github.com/danitso/terraform-provider-proxmox/files/4096353/rancher.tf.txt)

[2020-01-22 10:23] danitso-dp commented on #1
This should now be fixed.

[2020-01-22 10:26] lotherk commented on #1
Thank you! We're getting closer, I think. :-)

Now I got
[code]

[2020-01-22 10:36] danitso-dp commented on #1
Try with the latest commit I just pushed.

[2020-01-22 10:54] lotherk commented on #1
It works! Thank you very much!

[2020-01-22 10:55] #1 closed

[2020-01-22 13:24] danitso-dp commented on #1
Great to hear and thanks for testing this feature, especially before the release of v0.3.0.

In case you run into other problems, don't hesitate to create a new issue.

[2020-02-03 14:12] lotherk opened #2 "[BUG] creating template from cloud image"
I'm trying to create proxmox template out of a cloud init image.

proxmox_virtual_environment_file.cloud_image is beeing created but proxmox_virtual_environment_vm.template fails with

[code]
The file does exist on the filesystem (nfs storage). PVE Webinterface shows this error:
[code]

I also have to set pool_id in the template or it fails with

[code]

I am not using pools. That's why I added yo

[2020-02-05 20:37] danitso-dp commented on #2
I'll take a look at it and get back to you

[2020-02-07 21:51] danitso-dp commented on #2
Can you post the contents of the /etc/pve/storage.cfg file on the node? Just replace any parts you find sensitive with "abcd" or similar.

[2020-02-11 12:29] lotherk commented on #2
Hi @danitso-dp, thanks for getting back at me. I was away for a few days.

Here's the storage.cfg:
[code]

I made some changes in the code (hardcoded parts, changing cloud-init from local-lvm: to nfs:) and things started to work then.

[2020-02-16 19:58] danitso-dp commented on #2
Hi @lotherk,

Sorry for the late reply. I've pushed an initial fix for the issue, which will hopefully resolve the issue you're experiencing.

[2020-03-03 16:20] luhahn commented on #2
Hi  @danitso-dp

It seems, that this bug is still existing, it least i was having problems with the same issue today. However i recently played around with your provider and added a few commits to my fork.

I fixed the init bug for cloned vms and also removed the hard coded local-lvm value (already testet on our cluster)

I Added a new resource to modify existing vms where you're able to:
- move a

[2020-03-07 01:16] danitso-dp commented on #2
Hi @luhahn

Any contributions are welcome, especially the initialization fix as this is most likely affecting other users.

When it comes to resizing existing disks, I've been planning to add support for this using the existing resource and then support resource imports. However, do create a pull request for the mentioned features so we can discuss it further.

[2020-03-07 22:41] hoshsadiq opened #3 "[BUG]"
**Describe the bug**
Non-https URLs not accepted

**To Reproduce**

[code]

**Expected behavior**
Plan/apply etc should run

**Actual behaviour**
[code]

**Additional context**
Offending error is at

[code]

Is there a reason this was developed to require `https`? I totally understand `https` is the better solution (obv) but right now I'm trying to do the initial setup, which of course requires ht

[2020-03-07 22:49] danitso-dp commented on #3
Hi @hoshsadiq

The testing of the provider is currently being performed against a clean installation of Proxmox VE 6.1, which comes with HTTPS and a self-signed certificate. This is why the `insecure` argument was added so you can do HTTPS with a clean installation.

I've just tried to access a clean installation of Proxmox VE 6.1 using HTTP, which results in an empty response. Are you sure your s

[2020-03-08 11:26] hoshsadiq commented on #3
Aah! You are absolutely right. For whatever reason I did not notice this. That's what I get for doing this late in the night. Thanks

[2020-03-08 11:26] #3 closed

[2020-03-08 16:56] danitso-dp commented on #2
Hi @luhahn

I've pushed the initial cloud-init fix by adding a datastore_id argument. This should be very similar to your fix but follows the same naming convention as the rest of the provider (datastore_id instead of storage).

I'll look into adding support for resource imports sometime this month but I'll most likely release v0.3.0 based on the current code as long as the datastore issue is fixe

[2020-03-08 23:12] luhahn commented on #2
Hi @danitso-dp

I'll be on vacation till 16.03.2020 after that i'll test your initialization fix (if lotherk hasn't done it till then) and will create a pull request without the init fix. Then we can discuss any issues with the request. I can also work the disk reresizing into your existing resource if you want to. However this will be done after I'll be back.

[2020-03-14 00:38] dmeulen opened #4 "[BUG] Error: rpc error: code = Unavailable desc = transport is closing"
Thank you for creating this provider.
Most of the time it just works, but from time to time I get this error and it can only be fixed by cleaning the states and start all over.

**Versions used**

[code]

**Debug log**
[debug.log](https://gist.github.com/dmeulen/6ba5ea2427a4e24389a70a32027c44cc)

**API result**
For what it is worth, this is the API result I get from proxmox..
[API result](https://

[2020-03-14 12:05] danitso-dp commented on #4
Hi @dmeulen

I've pushed an initial fix which checks whether IP addresses are actually detected by the QEMU agent. This will result in an empty list instead of a crash, if they're not detected. However, this might require some additional logic in case this is a timing issue and the agent in fact does know about the IP addresses.

Can you perhaps try to trigger this issue again without using the ne

[2020-03-14 20:26] danitso-dp commented on #4
I've pushed a few more commits, which makes the provider wait for IP addresses to become available and also adds a new `timeout` argument for the `agent` block, which controls the maximum amount of time to wait for this data to become available.

[2020-03-14 23:01] dmeulen commented on #4
I just ran into the issue again during a plan (old code). I checked the QEMU agent data and the lists are not empty.

[2020-03-14 23:28] danitso-dp commented on #4
Basically, the provider queries the following endpoint for the information:

https://pve.proxmox.com/pve-docs/api-viewer/#/nodes/{node}/qemu/{vmid}/agent/network-get-interfaces

I haven't experienced any issues myself using the `example` project. However, can you provide some additional information about your virtual machine? Then I'll try to replicate the configuration as much as possible and see

[2020-03-15 00:10] danitso-dp commented on #4
Using bash or a compatible shell, can you try to do the following:

1. Create a new access ticket in PVE: `curl -H 'Content-Type: application/x-www-form-urlencoded' --data-urlencode 'username=root@pam' --data-urlencode 'password=your-password-here' -k https://the-api-hostname-or-address-here:8006/api2/json/access/ticket`
2. Find the `"ticket": "PVE:root@pam:..."` part of the response and copy the

[2020-03-15 00:16] danitso-dp commented on #4
I've pushed another commit which outputs more debugging information during HTTP requests. I suspect that the response might not be able to be decoded for some reason, which the new debug output should reveal. Please try to request the raw output from the endpoint using the above steps but also try to run with `TF_LOG=DEBUG` with the latest code until you experience the issue again, so we can hopef

[2020-03-15 22:16] dmeulen commented on #4
JSON response:
[code]
Since the last code it doesn't crash anymore, but it does seem to timeout, see [debug.log](https://gist.github.com/dmeulen/3fff4a8c2e0db5f9f76e584629ba7481)

[2020-03-15 22:21] danitso-dp commented on #4
Ah, yes. There we go.
[code]
There are no IP addresses for that one. Right now the code expects some to be returned.

I'll look at a permanent fix for this.

[2020-03-15 22:28] dmeulen commented on #4
Ah! The docker interfaces!

[2020-03-15 22:33] danitso-dp commented on #4
I've pushed a new commit which also makes the `statistics` optional in the response.

[2020-03-15 22:37] dmeulen commented on #4
Timeout is gone and all seems well with the latest build! Thanks! Keep up the good work!

[2020-03-15 22:41] danitso-dp commented on #4
Great to hear :)

I'm marking this as resolved.

[2020-03-15 22:41] #4 closed

[2020-03-16 12:32] luhahn commented on #2
@danitso-dp I just tested your current master regarding the init fix and can confirm it now works for us using the new datastore_id variable.

(lotherk and I are working on the same environment)

[2020-03-16 13:58] danitso-dp commented on #2
@luhahn That's great to hear. If it's alright with you, I'll close this issue and prepare to release v0.3.0. We can then look into the features you mentioned you had worked on and try to get them ready for v0.4.0.

[2020-03-16 14:04] luhahn commented on #2
@danitso-dp it is fine to close this issue. I've opened a PR for further discussion on the mentioned features

[2020-03-16 14:34] #2 closed

[2020-03-21 23:42] SpiridonovVS opened #6 "[BUG] Error: dial tcp: lookup 10.100.0.13/24: no such host"
proxmox_virtual_environment_file.k3os_server_cloud_config: Still creating... [10s elapsed]
 Error: dial tcp: lookup 10.100.0.13/24: no such host
   on 04-proxmox_vm_k3os.tf line 1, in resource "proxmox_virtual_environment_file" "k3os_server_cloud_config":
    1: resource "proxmox_virtual_environment_file" "k3os_server_cloud_config" {

...

    content_type = "snippets"
    datastore_id = "cephfs-s

[2020-03-22 00:26] danitso-dp commented on #6
Hi @SpiridonovVS

This feature is currently highly experimental but I believe the issue is how the provider tries to find the node's IP address. This is done by retrieving the list of network devices on the node and then grab the first IP address it can find. However, in your case, this results in a CIDR block instead.

Can you confirm whether the node is reachable on 10.100.0.13? We could use the

[2020-03-22 00:45] danitso-dp commented on #6
Hi @SpiridonovVS

Check out #8 in case the node can be reached on 10.100.0.13 as that small change should make it work. I'll await your feedback.

[2020-03-22 08:02] SpiridonovVS commented on #6
Thx

[2020-03-22 08:02] #6 closed

[2020-03-27 11:06] jehutyy opened #9 "Question about create vm from iso"
Hi,
I'm trying to figure out how to specify an iso from an already existing pool.
I have uploaded iso to my proxmox cluster and I would like to use them to provision a vm.

From documentation, I can't figure out how to do that, I thought about a data source that would provide a access to available iso from cluster but I can't find anything like that.

[2020-03-27 13:44] danitso-dp commented on #9
Hi @jehutyy

There's currently not a data source available for crawling the list of files in a datastore. However, the format for an ISO file is the following:

[code]
i.e.
[code]

You should be able to use this as the `file_id`.

In case you want to avoid specifying it manually, you can also upload the ISO file using Terraform. You can see how this is done here:

https://github.com/danitso/terraf

[2020-03-27 13:51] jehutyy commented on #9
Great, thank you, that should do the tricks, I try that and get back to you if anything went wrong.

[2020-03-27 14:28] Crazyscorpio88 opened #10 "[BUG] Terraform apply "Only root can set 'arch' config""
Hi @danitso-dp,

We are having some problems with Terraform Provider, we are trying to create a VM with it and it returns a "Error: Received an HTTP 500 response - Reason: only root can set 'arch' config"

We made different tests :
- Calling the RestAPI
[code]
It returns :

  "data": "UPID:pve:00001BF3:00296B59:5E7E0B69:qmcreate:789:uterra@pve:"
}

But when we do quite the same on the Provider :

[2020-03-27 14:50] danitso-dp commented on #10
It seems that no matter what permissions you grant a PVE account, it won't be permitted to change the CPU architecture of the VM (the `arch` API parameter).

While it would be best if Proxmox VE actually allowed this with the proper permissions, it's probably easier to implement a workaround in the provider for now, which will avoid specifying the `arch` parameter with PVE accounts as long as the

[2020-03-27 14:58] danitso-dp commented on #10
@Crazyscorpio88 can you provide me with a list of permissions assigned to the PVE account you're using? That way I can do a test with similar permissions and verify that the upcoming fix works.

[2020-03-27 15:04] Crazyscorpio88 commented on #10
Arf, it is what i feared.

Yes here they are for PVETerraformGroup :
`VM.Config.CPU, SDN.Audit, Datastore.AllocateTemplate, VM.Audit, VM.Allocate, VM.Config.Network, Sys.Modify, Datastore.AllocateSpace, VM.Config.HWType, Sys.Audit, VM.Console, Datastore.Allocate, VM.Snapshot.Rollback, VM.PowerMgmt, VM.Migrate, VM.Config.Memory, VM.Config.CDROM, Sys.Console, VM.Snapshot, Pool.Allocate, VM.Backup, D

[2020-03-27 15:05] danitso-dp commented on #10
I'll take a look at it and get back to you.

[2020-03-27 15:06] Crazyscorpio88 commented on #10
@danitso-dp if you are aware of others rights needed for Terraform, just tell me. I'll try to apply them.

[2020-03-27 15:11] danitso-dp commented on #10
Your permissions appear to be fine. This is a limitation enforced in PVE for at least the `arch` and `args` API parameters.

Currently, the provider only supports changes to `arch` but I'll make sure to add the same exception in case `args` is introduced at some point.

[2020-03-27 15:30] Crazyscorpio88 commented on #10
Ok, perfect, I'll be waiting for your Release.

[2020-03-27 16:12] danitso-dp commented on #10
@Crazyscorpio88 the first go at this change is available in #11. I haven't tested it yet but I'll do that later. You can also test it yourself, if you're able to build the provider.

[2020-03-28 10:34] Wombelix commented on #10
@danitso-dp i had the same issue as @Crazyscorpio88 your Pull Request #11 worked for me.

[2020-03-28 15:48] danitso-dp commented on #10
@Wombelix thanks for testing it. I've just merged it.

@Crazyscorpio88 are you able to get it working as well? I can do a pre-release of v0.4.0, if you need a binary release for testing purposes.

[2020-03-28 17:24] Crazyscorpio88 commented on #10
I cannot test it at the moment, the platform is shutdown during week-ends. But as soon as I access it I will test your update.

Thanks for the PR.

[2020-03-28 18:04] danitso-dp commented on #10
@Crazyscorpio88 sounds great. I'll let this issue remain open until you get a chance to test it out :)

[2020-03-30 14:46] Crazyscorpio88 commented on #10
@danitso-dp It works perfectly :)
Thanks for the commit.

[2020-03-30 14:48] danitso-dp commented on #10
@Crazyscorpio88 Great to hear. I'll close this issue then. Don't hesitate to submit new bug reports, if you run into other issues.

[2020-03-30 14:48] #10 closed

[2020-04-01 19:22] itek09 opened #13 "[BUG] CPU and Disk settings are not applied in clone."
Hello!

In first place I want to say thank you for your work and your amazing provider, It's really useful and let me automate some process in my proxmox server.

**About the issue:**
I'm creating a module to create VM using your provider, but I detect a few thinks, all of them when I clone from template (configured with 2 cores, 1 socket, 10gb hdd):

If I try to modify the cpu settings like this:

[2020-04-01 19:31] itek09 opened #14 "[FEATURE] Create multiple VM with count parameter"
Hello!

When you try to create multiple VM with count parameter, all the VMs try to lock the same ID in proxmox, so only the first one is successfully created.

I don't know about the Proxmox API, but possible solutions:
-Ask about the last id in each count look (I suppose you are asking the next available id using the API).
-Use a random id since the last available or maybe increase it with count

[2020-04-03 03:11] alexbgreat opened #15 "[BUG] Disk image fails to import correctly when using directory storage"
I'm unable to successfully deploy the ubuntu-cloud demo when using a directory-based storage. I'm using a local datastore called bulk. I'm assuming this would also affect NFS stores.

storage.cfg :

Relevant code - terraform-provider-proxmox/proxmoxtf/resource_virtual_environment_vm.go 1628

Output of this code

What I'm guessing the code really should be (when using directory storage)

How the co

[2020-04-03 04:16] alexbgreat commented on #14
works for me.

[2020-04-03 07:53] itek09 commented on #14
Sorry, the issue happens without the vm_id parameter (to allocate the next free id)

[2020-04-03 20:19] danitso-dp commented on #14
Hi @itek09

The initial fix is available in PR #16

[2020-04-03 20:22] itek09 commented on #14
Thank you so much.

Again, amazing work ;)

[2020-04-03 20:29] #14 closed

[2020-04-03 20:50] danitso-dp commented on #13
Hi @itek09

I've tried to replicate the `cpu` issue but it changes here. However, it doesn't verify whether the new number of cores and sockets are supported by the hypervisor. I'll have to look into that a bit more to see if I can trigger the problem.

Regarding the disk blocks, this part of the VM resource is still under development, especially when cloning a VM. I'm currently working on adding

[2020-04-03 20:52] itek09 commented on #13
Hi @danitso-dp

Maybe helps to indicate that I'm not using the root@pam account, I saw that you fixed the default arch issue recently.

I will be following the improvements ;)

[2020-04-03 20:57] danitso-dp commented on #15
Hi @alexbgreat

I'll take a look at this issue and get back to you with a fix.

[2020-04-03 22:18] danitso-dp commented on #15
Hi @alexbgreat

The initial fix for this can be found in #17

[2020-04-03 22:20] danitso-dp commented on #15
Just to clarify: I haven't had a chance to test it yet but I'll get around to doing that soon :)

In case you have the time, do go ahead and give it a try.

[2020-04-03 22:28] danitso-dp commented on #9
You're very welcome :)

I'm closing this issue but don't hesitate to create a new one, if you experience other issues.

[2020-04-03 22:28] #9 closed

[2020-04-06 17:00] alexbgreat commented on #15
Very close. The only thing missing is you need to keep track of the file extension.

[2020-04-06 17:02] alexbgreat commented on #15
update VM 4324: -scsi0 bulk:4324/vm-4324-disk-0.qcow2

[2020-04-07 02:34] danitso-dp commented on #15
Ah yes, forgot about that part. I've pushed a commit which should fix it.

[2020-04-13 15:50] danitso-dp commented on #15
I'm closing this now that #17 is merged. Don't hesitate to open a new issue in case you run into another problem.

[2020-04-13 15:50] #15 closed

[2020-04-24 19:29] replay111 opened #21 "[BUG] Cannot create simple vm instance"
**Describe the bug**
terraform apply ends with message:
[code]

**To Reproduce**
instance.tf:
[code]

1. terraform plan - shows plan - everything looks good
2. terraform apply - ends with:

[code]

**Expected behavior**
;-) - vm host created on proxmox ;-)

**Screenshots**
none

**Additional context**
I was using 0.3.0 plugin downloaded from releases from github, but I compiled 0.4.0 and I have th

[2020-04-26 00:02] blz-ea opened #22 "[BUG] Fails to decode Container HTTP GET response, cannot unmarshal data into Go struct"
**Describe the bug**
Plugin throws error if lxc low-level configurations is present in response
[code]

Plugin throws error if mount point is present in response
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create container
2. Use provisioner to add extra configuration (low-level LXC configuration or mount point) to container
3. Run `terraform plan`
4. See error

**Expected behavio

[2020-04-26 14:47] #22 closed

[2020-05-03 06:50] Shackelford-Arden commented on #10
@danitso-dp Out of curiosity, is there an ETA on a release for this? I've run into this issue was well, but when I build off of master it seems that there are a number of things that have changed that do not yet have documentation (ie; `proxmox_virtual_environment_vm` doesn't appear to be the same).

[2020-05-05 02:30] seanhoughton opened #25 "[FEATURE] Support resource import"
**Is your feature request related to a problem? Please describe.**

I would like to be able to import existing resources to aid in getting a matching config and to avoid having to re-image existing VMs to bring them under terraform management.

**Describe the solution you'd like**

The ability to import VM resources (and others)

**Describe alternatives you've considered**

The other ProxMox plugi

[2020-05-05 09:46] itek09 commented on #21
Did you login against your Proxmox server?

[2020-05-06 20:56] danitso-dp commented on #25
Hi @seanhoughton

I've added this feature as part of the v0.5.0 milestone. I'll get back to you once initial support for this is available.

[2020-05-06 21:06] danitso-dp commented on #21
@replay111 as @itek09 is pointing out, it looks like you're not connecting to the right endpoint. Can you try to open the endpoint in your browser to see if that works?

[2020-05-07 19:02] gurubert opened #26 "[BUG] VM image on NFS datastore error"
**Describe the bug**
I am trying to create a VM with the Ubuntu 18.04 cloud image on an NFS datastore.

Terraform cannot continue because of this error:

Successfully imported disk as 'unused0:maestro:120/vm-120-disk-0.qcow2'
unable to parse directory volume name 'vm-120-disk-0'

The disk image has been created and resized, it just was not attached to the VM.

**Expected behavior**
The disk image

[2020-05-10 20:53] danitso-dp commented on #26
@gurubert It's most likely because the code doesn't detect it as being a directory based datastore. Can you post the sanitized contents of `/etc/pve/storage.cfg`? I can then try to see, if I can reproduce the issue.

[2020-05-11 07:07] gurubert commented on #26
This is /etc/pve/storage.cfg

[code]

[2020-05-15 21:37] maurete opened #27 "[BUG] VM creation takes too long"
**Describe the bug**

When creating a new VM, the command `terraform apply` takes about 15
minutes and 30 seconds to complete. On the Proxmox web console,
however, I can see that the machine was actually up and running after
about one minute.

Am I missing something?

The Proxmox cluster is reachable via a local network connection, so it
doesn't seem to be a network issue. Otherwise the plugin wor

[2020-05-15 22:47] maurete commented on #27
Dismiss this issue, disabled the agent and everything worked perfectly.

[2020-05-15 22:47] #27 closed

[2020-05-17 00:44] danitso-dp commented on #26
@gurubert check out #28 and see, if it fixes the issue.

[2020-06-01 02:55] danitso-dp commented on #21
Closing this due to lack of activity.

Please submit a new issue, if you still experience the problem.

[2020-06-01 02:55] #21 closed

[2020-06-01 19:51] itek09 opened #30 "[BUG] Initialization always recrete the VM"
**Describe the bug**
If you create a vm resource with initialization block, every `terraform apply` will recreate the virtual machine

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple vm with initialization and execute `terraform apply`
2. Without destroy the resources, reexecute `terraform apply`
3. You will see that the vm resource should be recreated

**Expected behavior**
I

[2020-06-07 20:19] itek09 commented on #30
Finally I did a workaround:

For the User key, I saw in your documentation the usage of the function "trimspace", and this solve this issue.

For the username, I forced the username to a fixed one.

Other issues related to related to recreate:
-If you do not define the vm_id parameter, the resource will recreate the machine. Finally I decided to force the id per machine.
-If you are initialising a

[2020-06-07 21:11] danitso-dp commented on #30
@itek09 I'll let it remain open so I can check up on the issues you experienced. We can probably refine it a bit more :)

[2020-06-16 23:36] ikeingtonbear opened #33 "[BUG] Output VM Resource IPs only 127.0.0.1"
**Describe the bug**
I have a cloud-init enabled template which I use as base VM. In my terraform I use the initialization block to assign an IPv4 address to my newly created VM. In my terraform I also have an output to write out a the IP addresses to the terminal for me newly created VM. My returned output on build is:
[code]
This output does not include the assigned IP address of the newly creat

[2020-06-16 23:46] ikeingtonbear commented on #33
Adding clarification: qemu-agent is installed, and the agent enabled block is set to true.

[2020-06-18 13:22] HarishHary opened #34 "[BUG] Windows VM is looping on `creating...`"
**Describe the bug**
Windows vm cloning is looping on `vm creation`.

[code]

**To Reproduce**
1. Create a Windows 10 template vm.
2. Use the following `ressource` to clone from it.
[code]

**Expected behavior**
Stopping after vm has been created.

**Additional context**
1. VM template has been created from proxmox.

[2020-06-18 15:08] HarishHary commented on #34
Closing this issue after some code reading i noticed that qemu agent is necessary to be running on the image: https://jonspraggins.com/the-idiot-installs-the-qemu-agent-on-a-windows-10-vm-on-proxmox/

Issue is fixed now.

[2020-06-18 15:08] #34 closed

[2020-06-18 16:13] HarishHary commented on #13
@danitso-dp Is this issue being fixed by the following [PR](https://github.com/danitso/terraform-provider-proxmox/pull/5) ? What's the status on it ?

PS: Great work on the provider ! Best so far !

[2020-06-18 16:23] HarishHary commented on #33
I am facing the same issue with a VM created from a template.
That template was itself created using `packer`. qemu-agent is installed.

[code]

[2020-06-19 19:10] danitso-dp commented on #33
Can I get you to go into the Proxmox Web UI and check, if your VMs report any IP addresses?

[2020-06-19 23:33] ikeingtonbear commented on #33
<img width="601" alt="Screen Shot 2020-06-19 at 19 32 38" src="https://user-images.githubusercontent.com/13791199/85185821-ae0fd100-b263-11ea-86fe-4c13c656b2cb.png">

Attached is the output from Proxmox for the VM i referenced earlier.

[2020-06-24 21:51] diijkstra commented on #30
I have similar problem with `initialization` block. I'm using using custom packer image to create a template VM. I don't want to specify anything in `initialization` and it seems to be consistent with documentation - marked as being optional. Template is created properly. Unfortunately on subsequent run, terraform will try to replace (destroy/create) template in order to remove empty `initializati

[2020-06-25 13:24] HarishHary commented on #33
Hello,

I think the issue is related to timing. Looks like the qemu-agent is not yet ready to be read.
As of right now, all my linux machines have ip addresses provided by DHCP and I think we must wait a bit before getting the end ip.

[2020-06-25 19:48] danitso-dp commented on #33
@HarishHary it does indeed sound like a timing issue. However, does any of you see Terraform waiting for 15 minutes before continuing or does it continue almost right after the VM is created?

[2020-06-25 22:12] danitso-dp commented on #13
@HarishHary I still don't think the issue is completely fixed but that PR is on my todo. It's hopefully something I can look at again during the next few days as another task required my attention last week.

[2020-06-26 07:30] HarishHary commented on #33
It does continue right after the VM is created. Another fact is, even if I have a `provider` in my case it is a `local-exec` provider. It does not resolve the IP address. So either it does not get the address at the end of the ressources graph: https://www.terraform.io/docs/internals/graph.html#walking-the-graph, or something else is going on. I will try to check the code first. Do you know where

[2020-06-26 19:39] danitso-dp commented on #33
@HarishHary I'm trying to investigate whether the QEMU agent is in fact returning IP adresses but for the local interface only. Can you try to run apply with TF_LOG set to DEBUG and look for lines containing `network-get-interfaces`? This way we can see, if the calls are being made and whether they fail or not.

[2020-06-26 20:49] HarishHary commented on #33
Should I try with your patch ? Or the provider from master ? I will be able to give you an answer on monday if that's okay for you.

[2020-06-29 07:47] HarishHary commented on #33
You will find attached the logs that you asked for.
[log_tf.txt](https://github.com/danitso/terraform-provider-proxmox/files/4844449/log_tf.txt)

[2020-06-29 08:29] HarishHary commented on #33
Just tested your current fix, still not it. I added a more verbose debug to see what proxmox returned when you try to get the network interfaces:

[code]
As you can see it returns 2 interfaces but the second one does not have an address yet.

[2020-06-29 14:06] HarishHary commented on #33
Hello,

I just tested your solution. It is working after I added some missing condition. You might need to test it more carefully than me.

[code]

[2020-07-04 16:15] danitso-dp commented on #33
@HarishHary the PR was simply to test, if the issue occurred because lo showed up with IP addresses before any other interfaces were reported by the agent. However, we seem to be on the right track with your continued testing so I'll try to modify the code with your suggestions so we can give it another go.

[2020-07-13 20:52] HarishHary commented on #33
Hello @danitso-dp, any progress on my suggestion ?

[2020-07-20 16:52] luhahn commented on #13
@HarishHary This PR currently only fixes the disk settings for clones

[2020-07-28 07:25] luhahn commented on #13
I also checked on the cpu settings and it works fine for me. I think this issue can be closed, once #5 is merged

[2020-07-29 17:03] HarishHary opened #36 "[BUG]"
**Describe the bug**
Terraform apply on already applied ressources, destroyed them and applied them again. This happens on a windows machines templaces.

**To Reproduce**
* terraform apply

**Expected behavior**
[code]

**Screenshots**
[code]

[code]

As you can see, the disk values are not set on the tfstate. Hence recreating it again. Manually changing the tfstate to have the correct values fixe

[2020-08-13 17:00] soakes opened #37 "[BUG] MAC addresses re-generated on every run"
**Describe the bug**

After initial creation of machine, if you re-run terraform apply, that even though the mac addresses are provisioned, will replace them with new ones as they are not defined in the config/manifest.

[code]

**To Reproduce**
Run terraform twice with example code

[code]

**Expected behavior**
If MAC address is already provisioned and known in the state file, it should then not

[2020-08-13 17:10] soakes opened #38 "[BUG] Initial VM disk size remains same as template despite what manifest says (being ignored)"
**Describe the bug**

Using terraform with cloned template at say 20GB, then getting terraform to provision a new VM with say 30GB size, it will not create the new VM with the correct size.  It remains as the same size as the initial template was made.

**To Reproduce**
Run the following example code but have a template set at a different size then what your now cloning/making.  i.e create templat

[2020-08-13 19:30] soakes commented on #38
Noticed this is being worked on under PR's, there for closing this.
Should have chcked first, sorry for the noise.

https://github.com/danitso/terraform-provider-proxmox/pull/5

[2020-09-09 03:20] fabacab opened #40 "[BUG] Creating container (LXC) succeeds but provider reports HTTP error and taints the created resource"
Briefly, context: I'm just getting familiar with this provider. Apologies in advance if I've made a silly mistake. That said, here's what's happening:

I'd like to create a simple container using an existing template. Creating a `proxmox_virtual_environment_vm` resource is simple enough, and works without issue so far. But an equally simple container creation attempt fails with the following sampl

[2020-09-09 03:50] fabacab opened #41 "[BUG] Creating a VM resource always fails if `pool_id` (an argument marked optional) is not supplied"
This was previously reported in #2 but that bug report contained numerous distinct issues and was thus a bit confusing to track. I ran into this same bug today and figured I'd help make sure it wasn't lost in the shuffle of old, closed issue reports. So, the existing issue as originally reported:

This is exactly the issue I'm having. See below.

## To Reproduce

1. Set up a single-node Proxmox VE

[2020-09-09 04:28] fabacab opened #42 "[BUG] Modifying a VM resource always fails if `name` (an argument marked optional) is omitted or does not look like a "DNS name""
This is basically the same issue as that described in #41 except instead of `pool_id`, the resource cannot be *modified* without a `name` argument (which is also marked as optional in this provider's documentation).

Here's the error:

[code]

## To Reproduce

1. Set up a single-node Proxmox VE cluster (6.2-11 is what I'm using, the current stable release).
1. Create a simple, test VM with the fol

[2020-09-09 04:49] fabacab opened #43 "[BUG] Erroneous lock files are created on PVE node when `vm_id` argument is omitted from VM resource"
This bug's a little strange because I'm not 100% sure what the correct behavior should be, except that I think what I'm seeing is definitely not correct. I discovered this by looking more closely into the issue described in #40 where the provider reports a timeout. It's possible this issue is a duplicate of that bug or simply a symptom of it. I'm not sure.

What happens is that if a `proxmox_virtu

[2020-09-09 09:42] dmeulen opened #44 "[FEATURE] Add `discard` option to vm disk creation"
One of the great features in proxmox is the discard option on disk volumes. Enabling the discard option on disks in comnbination with an `fstrim /` cron job or qemu agent fstrim inside the vm would free up discarded space automagically.

An extra option `discard=<ignore|on>` should be added to diskOptions when setting the virtual machine options in `func resourceVirtualEnvironmentVMCreateCustomDis

[2020-09-10 01:46] fabacab commented on #43
A brief update: I've tested this with the most recent commits in `master` (the plugin reports version `0.4.0` when I do this), and the `lock--1.conf` file is still created. The `terraform plan` output also still shows `-1` when I omit a `vm_id`, so I'm guessing that the request to the Proxmox VE API asking for its next VM ID doesn't happen soon enough.

[2020-10-14 17:39] jescarri commented on #26
Hey  @danitso-dp thanks for putting together this new provider!

The fix at #28  did not worked :( let me know how can I help to get this fixed.

[code]

[2020-10-14 17:40] jescarri commented on #26
tf config:

[code]

[2020-10-18 22:19] rrelmy opened #45 "[BUG] Changing static IP of container does not work"
**Describe the bug**
Changing the ip address of a container does not change it.

**To Reproduce**
1. create a container with a static ip
[code]
2. change the ip
3. apply
4. apply again and see that the ip did not change

**Expected behavior**
Changing ip should work

[2020-10-25 22:01] #33 closed

[2020-11-27 14:13] knobik opened #49 "[BUG] disk not resized after cloning."
**Describe the bug**
When you clone a VM template and provide a `disk { size: X }`, the disk is not resized to that value.

**To Reproduce**
[code]

**Expected behavior**
Resize the cloned disk atleast upwards.

**Additional context**
`terraform plan` on already provisioned (eg. 2nd run) vm's shows this:

[code]

[2020-12-09 15:07] luhahn commented on #49
This is fixed in my pull request: https://github.com/danitso/terraform-provider-proxmox/pull/5

[2020-12-14 11:31] shantur opened #58 "[FEATURE] HostPCI devs support"
**Is your feature request related to a problem? Please describe.**
I am planning to use Proxmox and passthrough PCI devices.

**Describe the solution you'd like**
Add support for HostPCI devices. Its already present in api

**Describe alternatives you've considered**
Use args parameter to provide arguments to qemu-kvm but that isn't supported by provider yet

**Additional context**
None

[2021-01-10 16:36] ksaio opened #64 "[BUG] Keeps waiting for all interfaces to have an IP"
**Describe the bug**
Provider will wait for all network interfaces to have an IP, if you use docker some interfaces might not get an IP address and there for the provider will hang trying to refresh state.

Here is the code that waits for IP.
https://github.com/danitso/terraform-provider-proxmox/blob/master/proxmox/virtual_environment_vm.go#L182

**To Reproduce**
Create VM with Linux (I used Ubunt

[2021-01-14 12:15] shutupflanders opened #65 "[BUG] (potentially?) proxmox_virtual_environment_file uses local IP for upload instead of the connection details in the provider."
**Describe the bug**
When trying to upload a file to a node, instead of using the endpoint in the provider it retrieves and uses the node's internal IP address.
I'm accessing a remote cluster therefore the local IP doesn't resolve.

I hope I'm wrong and I've just missed something though.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
It should upload the file to th

[2021-01-14 23:20] ProfessorSalty opened #66 "[FEATURE] Publish to Terraform registry"
It would make my life easier if this provider were available on the [Terraform Registry](https://registry.terraform.io/) in two ways. The first is obviously just to make installation more convenient. More importantly than that, I'd like to use the [Cloud Development Kit for Terraform](https://learn.hashicorp.com/tutorials/terraform/cdktf) to simplify my homelab deployment onto Proxmox. From what I

[2021-01-15 18:10] blz-ea commented on #64
Hey @ksaio.
Can you see VM's IP address in UI? In the Summary section do you see IP addresses exposed by VM's QEMU Agent ?

[2021-01-20 04:51] danitso-dp commented on #66
@ProfessorSalty the provider will be published to the registry once v0.4.0 is released. I've sadly been busy with a lot of critical work lately which is why the release has been pending for a while. However, PR #61 is currently being tested to determine, if the various changes and improvements are stable. I'm planning to do my remaining testing by the end of this week so it can be released sometim

[2021-01-20 16:19] mleone87 opened #67 "[BUG] resourceVirtualEnvironmentVMCreateCustom has a typo and resourceVirtualEnvironmentVMCreateCustomDisks only handles scsi disk imports regardless of the resource definition"
**Describe the bug**
There is a typo in the code and an hard coded value in the custom command sent to proxmox

**To Reproduce**
Steps to reproduce the behavior:
1. Create a resource with virtio disk and it will be created with a scsi interface

**Expected behavior**
Interface should be coherent with the resource definition

[2021-01-20 22:19] ProfessorSalty commented on #66
Brilliant. Thanks so much for your hard work! I'll close this.

[2021-01-20 22:19] #66 closed

[2021-01-25 16:57] blz-ea commented on #65
Hey @shutupflanders,
Due to Proxmox API limitations it is only allowed to upload "iso" or "vztmpl" types.
Other types uploaded over SFTP.
Hopefully future Proxmox releases will have support for "snippets"

[2021-02-09 12:28] #65 closed

[2021-02-10 22:05] danitso-dp commented on #64
@ksaio I've created #70 as an example of how we can solve this issue. The PR also enables the provider to wait for bonded or teamed interfaces, if you narrow the list of prefixes to `bond` and `team`.

[2021-02-14 00:25] danitso-dp commented on #67
@mleone87 can we close this issue now that #61 is merged?

[2021-02-14 00:27] danitso-dp commented on #49
@knobik I'm closing this issue as the feature is available in v0.4

[2021-02-14 00:27] #49 closed

[2021-02-14 00:32] danitso-dp commented on #13
@itek09 I'm closing this issue as it has been confirmed to work using the latest release. Please don't hesitate to repost this issue, if you still experience problems.

[2021-02-14 00:32] #13 closed

[2021-02-14 00:33] danitso-dp commented on #26
@jescarri do you still experience this issue using the latest version?

[2021-02-14 00:34] danitso-dp commented on #30
@itek09 do you still experience this issue using the latest version?

[2021-02-14 00:37] danitso-dp commented on #41
@fabacab do you still experience this issue with the latest version?

[2021-02-14 00:38] danitso-dp commented on #42
@fabacab do you still experience this issue with the latest version?

[2021-02-14 01:00] danitso-dp commented on #43
I've tried to extend `example/resource_virtual_environment_vm.tf` with the following:
[code]

Which results in the following plan:
[code]

Which produces a clone call similar to this:
[code]

Which results in a new VM being created with ID 100.

In case I run another plan, no changes to the resource shows up:
[code]

@fabacab can you check whether you still experience the described issue?

[2021-02-14 01:14] danitso-dp commented on #45
@rrelmy I can confirm that this issue exists. I'll look into a fix for it.

[2021-02-14 02:45] danitso-dp commented on #45
@rrelmy check out #73 to see, if it fixes your issue.

[2021-02-14 03:00] danitso-dp commented on #44
@dmeulen I'm adding this to the v0.5.0 milestone

[2021-02-14 03:02] danitso-dp commented on #58
@shantur I'm adding this to the v0.5.0 milestone

[2021-02-14 03:21] danitso-dp commented on #64
@ksaio check out #72 instead

[2021-02-14 09:38] #67 closed

[2021-02-14 18:51] fabacab commented on #41
No, this is fixed now. Thanks.

[2021-02-14 18:51] #41 closed

[2021-02-16 05:06] jescarri commented on #26
hey @danitso-dp I will test it in the next few days and let you know.

Thanks for the help!

[2021-02-17 03:35] #45 closed

[2021-02-17 05:11] danitso-dp commented on #58
@shantur I expect to finish the code for this feature tomorrow. Do reach out, if you have some time in the coming weeks to test it out.

[2021-02-18 07:41] pkonotopov opened #77 "[BUG] Watchdog device breakes tf action"
**Describe the bug**

During the creating VM from template which consist hardware watchdog emulation device we have got an errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Pick any VM template and add to it the hardware watchdog emulation:

[code]

2. Create terraform file:

[code]

3. `terraform plan`
4. See error

[code]

[2021-02-18 21:39] danitso-dp commented on #77
@pkonotopov I've created a fix in #78 which will be released as v0.4.4. I'm also adding a `watchdog` argument as a new feature in v0.5.0.

[2021-02-18 23:47] danitso-dp commented on #58
@shantur initial work on this feature is available in #80

[2021-02-25 14:50] yuqo2450 opened #81 "[FEATURE] boot order and netboot"
It would be great if it was possible to set a boot order in terrform for vms and enable and disable boot options.
We are installing our systems with pxe (foreman). Therefore we need to boot vms on first boot via network.

Would be great if it was possible to add this feature in future versions.

[2021-02-25 15:36] danitso-dp commented on #81
I've added this to the v0.5.0 milestone.

[2021-03-01 10:07] pkonotopov commented on #77
Great, thanks!

[2021-03-08 07:27] fnoir opened #82 "[BUG] Received an HTTP 401 response - Reason: No ticket"
**Describe the bug**
I am trying to create a VM with the Debian 10 cloud image on an ZFS datastore.

Terraform cannot continue because of this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. terraform apply

**Other**
[code]

[2021-03-14 17:45] yuqo2450 opened #83 "[BUG] Adding disks to vms"
Not 100% sure if this is a bug or intentional, but when adding a disk to a vm the vm has to be destroyed and recreated, wich also means that the operating system has to be reinstalled.
When adding a disk through the web interface you don't even have to restart the vm.
I think this is a nicer way?

[2021-03-20 21:36] Patricol opened #84 "[FEATURE] Support VirtIO RNG hardware devices added in Proxmox 6.2"
[Proxmox 6.2](https://pve.proxmox.com/wiki/Roadmap#Proxmox_VE_6.2) added `VirtIO Random Number Generator (RNG) support for VMs`; in the form of a hardware device that can be added to VMs.

[2021-03-25 01:30] Shackelford-Arden opened #85 "[BUG] Parameter verification failed - disk - interface"
**Describe the bug**

Supplying what appears to be valid data from the documentation of either "scsi","sata" or "virtio", we received a 400 error from Proxmox. Specifically, the following message:

`
Received an HTTP 400 response - Reason: Parameter verification failed. (scsi: property is not defined in schema and the schema does not allow additional properties)
`

**To Reproduce**

Proxmox Versio

[2021-03-30 11:45] benosman opened #86 "[FEATURE] Add root disk size property for containers"
**Is your feature request related to a problem? Please describe.**
The `proxmox_virtual_environment_container` resource currently has the ability to set the root disk storage location, but has no property for the disk size. Containers are therefore always created using the default disk size.

**Describe the solution you'd like**
I would like a size property added to the disk section, bringing it i

[2021-03-30 11:58] benosman opened #87 "[FEATURE] Add mountpoint property to container resource"
**Is your feature request related to a problem? Please describe.**
The `proxmox_virtual_environment_container` resource currently has no ability to manage mountpoints. I would like to see this feature inside this provider.

`Currently there are three types of mount points: storage backed mount points, bind mounts, and device mounts.`

**Describe the solution you'd like**
Each container can have mu

[2021-03-31 03:15] Patricol opened #88 "[BUG] Cannot parse storage size "3907018584K""
State refresh on a VM fails when that VM has an attached disk with such a size. (The size string from the error, `3907018584K`, matches Proxmox's Hardware tab's representation of the disk's parameters.)

Likely this provider expects different units?

[2021-04-22 18:16] vgchl opened #89 "[BUG] [cdktf/TypeScript] provider virtual_environment cannot be specified"
**Describe the bug**
When using the provider with cdktf and TypeScript, the ProxmoxProvider does not have the virtual_environment parameter.
It also ignores the environment variables.

**To Reproduce**
- Install provider using cdktf with TypeScript.

**Expected behavior**
1. It should be possible to specify `virtual_environment` when creating a ProxmoxProvider:

[code]
2. When `virtual_environment

[2021-05-07 23:46] v12 commented on #85
@Shackelford-Arden `interface` property is a combination of bus and device ID values. In your example, the value should be an exact interface, so in your example it would be `scsi0`

[2021-05-09 14:45] justin-p opened #91 "[BUG] Unable to change ip_config after deployment"
**Describe the bug**
Once the VM has been deployed by Terraform the module is unable to update the cloud-init ip configuration. After applying the updated Terraform code the module trows the following error.

[code]

On the proxmox side either one of these 4 things could happen.
1. Nothing happens
2. The cloud-init ip conifguration gets updated
3. The user_account password is set to a unknown valu

[2021-05-11 22:14] Shackelford-Arden commented on #85
I'll give that a go and report back :) Thanks!

[2021-05-11 23:03] Shackelford-Arden commented on #85
Appears to be working :P I seem to have misread you're docs. Thanks!

[2021-05-11 23:03] #85 closed, assigned to nobody

[2021-06-05 13:42] #89 closed, assigned to nobody

[2021-06-09 17:53] mattolenik opened #93 "[FEATURE] End to end test plans?"
I was wondering if there was anything in the works regarding end to end tests for this provider. Ones that actually run the real provider, using Terraform, against a real Proxmox instance. I've written end to end tests for Terraform providers in the past and think I could lend a hand, assuming this would be a welcome addition.

[2021-06-18 13:58] hamzajaved12 opened #94 "Help! TO INSTALL repo"
**Describe the issue**
I have installed the repo and down with the below commands

mkdir -p "${GOPATH}/src/github.com/danitso"
cd "${GOPATH}/src/github.com/danitso"
git clone git@github.com:danitso/terraform-provider-proxmox
cd "${GOPATH}/src/github.com/danitso/terraform-provider-proxmox"
make build

Where I will find the binary file for terraform-provider-proxmox so I can copy that in terraform p

[2021-07-02 09:26] initialed85 commented on #82
I was getting this because I had my `endpoint` set to `https://(ip):8006/api2/json` rather than just `https://(ip):8006`

[2021-07-05 06:00] TheUnixRoot opened #96 "[BUG] VM created with provider has wrong disk format type in state"
**Describe the bug**
I created a vm in Proxmox 6.3 with disk type "raw", it works but now in state it is shown as type "qcow2", so it is marked as need to be recreated

**To Reproduce**
With Proxmox 6.3-2 and provider 0.4.4

Steps to reproduce the behavior:
1. Deploy a virtual machine with raw disk type:
[code]
2. Do a plan afterwards
3. It shows that the resource needs to be recreated because of

[2021-07-16 18:36] magikid commented on #82
I can confirm the same thing.  With my `endpoint` ending in `/api2/json/`, I got the 401 error but it was resolved when I removed that.

[2021-07-16 19:19] magikid opened #98 "[BUG] Planning throws error about unmarshalling number into struct field of type string"
**Describe the bug**
When running `terraform plan`, I get this error:
[code]

**To Reproduce**
Apply this terraform file and then run `terraform plan`
[code]

**Expected behavior**
I expected `terraform plan` to show that no infrastructure changes were needed.

**Screenshots**
If applicable, add screenshots to help explain your problem.
[code]

**Additional context**
Add any other context about th

[2021-09-20 18:51] Alfablos commented on #98
I have the same issue but with storage:
[code]
The same happens with `VirtualEnvironmentDatastoreFileListResponseData.data.used`

As a matter of fact the api responds with the following data:
[code]

Changing from the original proxmox/virtual_environment_datastores_types.go
[code]
to something apparently more consistent
[code]
brings no benefits.
Fair enough though, I think, since just changing th

[2021-10-10 00:32] trey-ivy commented on #27
@maurete  i'm having the same issue but I don't know what you mean by 'disabled the agent' and was hoping you could provide a little bit more detail

[2021-10-25 14:19] Zempashi opened #106 "[FEATURE] Add a proxmox_virtual_environment_vm datasource"
**Is your feature request related to a problem? Please describe.**
Provider return ```Error: Received an HTTP 500 response - Reason: unable to find configuration file for VM 9000 on node 'pve-03', because I omitted the `node_name` during clone (I provided just `vm_id`: 9000 not located on the node I want to put my VM)

**Describe the solution you'd like**
A datasource `proxmox_virtual_environment_

[2021-10-26 23:53] bpg-dev commented on #98
just fyi, I merged this fix above and made few other improvements in the fork and published it to the terraform registry, if anyone interested: https://github.com/bpg/terraform-provider-proxmox

[2021-10-28 07:29] me-nilix commented on #98
No, nothing has been fixed, I compiled from sources last night.
lxc

[code]

When running `terraform apply`

[2022-01-24 14:45] magikid commented on #98
@bpg Thank you! I can confirm that fixes my issue.

[2022-05-15 16:40] Anguianolabs commented on #106
This project has died.

[2022-05-17 16:38] dmeulen commented on #106
Yup, such a pity IMHO this provider is much better than the telemate provider. Don't know what happened here, all danitso's projects are suddenly flatlined ( hope the guy is still alive and kicking ). But the `bpg` fork seems to implemt some fixes...

[2022-05-17 18:17] danitso-dp commented on #106
The project is on hiatus ;-)

No. Jokes aside, I've been busy with life and my full time job. I simply haven't had time to continue my work on this project. I haven't abandoned it but it's hard to find the time for it right now. Hopefully, that'll change.